{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{{ wishlist.user.username }}'s plantoasis wishlist
{% endblock %}
{% block title %}
	{{ wishlist.slug }} - Plant Oasis
{% endblock %}
{% block content %}

<div class="text-center">
    <br>
    <h1>
        Your Wishlist
    </h1>
    <br>
</div>
<div class="row">
    {% if products %}
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" colspan="100">
                            <h3>
                            Products
                            </h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <h3>{{product.product.name}}</h3>
                            <h4>{{product.product.name_alt}}</h4>
                            <h5>{{product.product.category}}</h5>
                            <p>{{product.date_added}}</p>
                        </td>
                        <td>
                            <a href="{{product.product.get_absolute_url}}"><img id="cart-image" src="{{product.product.image_thumbnail.url}}"></a>
                        </td>
                        <td>
                            <div>
                                <br><h3>€{{product.product.price}}</h3>
                                {% if product.product.stock != 0 %}
                                    <p><i class="far fa-check-circle stock-icon-good"></i> In Stock</p>
                                {% else %}
                                    <p><i class="far fa-times-circle stock-icon-bad"></i> Out of Stock</p>
                                {% endif %}
                            </div> 
                        </td>
                        <td>
                            {% if product.product.stock != 0 %}
                            <div class="col">
                                <a class="btn cart-button" href="{% url 'cart:add_cart' product.product.slug %}"><i class="fas fa-shopping-cart"></i></a>
                                <br>
                                <a class="btn cart-trash ml-1" href="{% url 'wishlist:remove_from_wishlist' product.product.slug %}"><i class="fas fa-times"></i></a>
                            </div>
                            {% else %}
                            <div class="col">
                                <a class="btn disabled cart-button" href="{% url 'cart:add_cart' product.product.slug %}"><i class="fas fa-shopping-cart"></i></a>
                                <br>
                                <a class="btn cart-trash ml-1" href="{% url 'wishlist:remove_from_wishlist' product.product.slug %}"><i class="fas fa-times"></i></a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" colspan="100">
                            <h3>
                                Details
                            </h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3><b>User</b></h3>
                            <h4>{{wishlist.user}}</h4>
                            <h3><b>Created</b></h3>
                            <h6>{{wishlist.date_created}}</h6>
                        </td>
                        <td>
                            <button class="btn btn-plants" onclick="window.print();"><i class="fas fa-print"></i>Print Wishlist</button>
                            <br>
                            <a href="{% url 'wishlist:remove_all' %}"><button onclick="return confirm('Are you sure you want to clear your wishlist?')" class="btn btn-danger mt-3"><i class="far fa-trash-alt"></i>Clear Wishlist</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <p>You have no items in your wishlist</p>
    {% endif %}
</div>

{% endblock content %}