{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="{% block metadescription %}{% endblock %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="shortcut icon" type="image/PNG" href="{% static 'images/flower.PNG' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
		{% include 'header.html' %}
		{% include 'navbar.html' %}
        <div class="row">
            <div class="col-1">
                {% include 'catnav.html' %}
            </div>
            <div class="col-10">
                {% block content %}
		        {% endblock %}
            </div>
            <div class="col-1">
            </div>
        </div>
		{% include 'footer.html' %}
</body>
</html>
