<nav class="navbar navbar-expand-sm bg-plants">
    <a class="navbar-brand" href="{% url 'shop:allProdCat' %}">
        <img style="width: 4.5em; height: 4.5em; border-radius: 0.5em;" src="../../static/images/flower.PNG" alt="Store_Logo">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link nav-button" href = "{% url 'shop:allProdCat' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a class="nav-link nav-button" href = "{% url 'home' %}">Blogs</a>
        </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav mx-auto">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search_app:searchResult'%}" method="get">
            {% csrf_token %}
            <input class="form-control mr-sm-2" id="nav-search" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn my-2 my-sm-0 btn-search" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link nav-button" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>
                {% if item_count > 0 %}
                ({{item_count}})
                {% endif%}
            </a>
        </li>
        {% if user.is_superuser %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-button" href="" id="navbardrop" data-toggle="dropdown">Admin <i class="fas fa-users-cog"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item border" href="{% url 'shop:create_product' %}" >Add Product</a>
                </div>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-button" href="" id="navbardrop" data-toggle="dropdown">{{ user.username }} <i class="fas fa-user"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item border" href="{% url 'signout' %}">Sign Out</a>
                    <a class="dropdown-item border" href="{% url 'account_update' request.user.pk %}">Update</a>
                    <a class="dropdown-item border" href="{% url 'profile' %}">Profile</a>
                </div>
            </li>
		{% else %}
			<li>
				<a class="nav-link nav-button" href="{% url 'signup' %}">Sign Up</a>
			</li>
			<li>
				<a class="nav-link nav-button" href="{% url 'signin' %}">Sign In</a>
            </li>
        {% endif %}
    </ul>
</nav>
