<nav class="navbar navbar-expand-sm bg-plants">
    <a class="navbar-brand" href="{% url 'shop:allProdCat' %}">
        <img src="" alt="Store_Logo">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-button" href = "{% url 'shop:allProdCat' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a class="nav-link nav-button" href = "blog/">Blogs</a>
        </li>
        {% else %}
        <li>
            <a class="nav-link nav-button disabled" href = "blog/">Blogs</a>
        </li>
        {% endif %}
        <li>
            <a class="nav-link nav-button" href = "cart/">Your Cart</a>
        </li>
        {% if user.is_authenticated %}
			<li>
                <a class="nav-button nav-link" href="#" >{{ user.username }} &#128100</a>
			</li>
            {% if user.is_superuser %}
            <li>
                <a class="nav-button nav-link" href="{% url 'shop:create_product' %}" >Add Product</a>
			</li>
            {% endif %}
			<li>
				<a class="nav-link nav-button" href="{% url 'signout' %}">Sign Out</a>
			</li>
			{% else %}
			<li>
				<a class="nav-link nav-button" href="{% url 'signup' %}">Sign Up</a>
			</li>
			<li>
				<a class="nav-link nav-button" href="{% url 'signin' %}">Sign In</a>
            </li>
            {% endif %}
            {% if item_count > 0 %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>({{item_count}})</a>
            </li>
            {% endif%}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_app:searchResult'%}" method="get">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
