{% extends "base.html" %}
{% load static %}
{% block title %}
Delete {{product.name}} | PlantOasis
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <br>
        <h1 class="text-center">Delete {{product.name}}</h1>
        <div class="my-5">
            <form method="POST"> 
                {% csrf_token %} 
                Are you sure want to delete {{product.name}}
                <input class="btn py-2 btn-danger"type="submit" value="Yes"/>
                <a class="btn py-2 btn-plants" href="{% url 'shop:prod_detail' product.slug %}">Cancel </a> 
            </form> 
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

{% endblock %}