{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
	{{ product.name }} - Plant Oasis
{% endblock %}
{% block content %}
	<div class="mb-5">
		<div>
			<p><a href="{% url 'shop:allProdCat' %}">Home</a> | <a href="{{ product.category.get_absolute_url }}">{{product.category}}</a> | {{product.name}}</p>
		</div>
		<div>
		<br>
		{% if user.is_superuser or user.is_staff %}
			<div class="row mb-5">
				<div class="col-8">
				</div>
				<div class="col-4">
					<div class="row">
						<h4>Manager Options:</h4>
						<a class="btn btn-warning ml-2 mr-2" href="{% url 'shop:edit_product' product.slug %}">Edit Product</a>
						<a class="btn btn-danger" href="{% url 'shop:delete_product' product.slug %}">Delete Product</a>
					</div>
				</div>
			</div>
		{% endif %}
			<div class="row">
				<div class="col-6">
					<img class="prod-image" src="{{product.image_thumbnail.url}}" alt="{{product.name}}">
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-8">
							<h1 class="prod-title">{{product.name}}</h1>
						</div>
						<div class="col-4">
							<h2 class="prod-price px-2">€{{product.price}}</h2>
						</div>
					{% if product.name_alt %}
					</div>
					<div class="row">
						<div class="col-8">
							<h3>{{product.name_alt}}</h3>
						</div>
					</div>
					{% else %}
					</div>
					{% endif %}
					<div class="row">
						<div class="col-8">
							{% if product.get_review_avg == 1 %}
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
							{% elif product.get_review_avg == 2 %}
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
							{% elif product.get_review_avg == 3 %}
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
							{% elif product.get_review_avg == 4 %}
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							{% elif product.get_review_avg == 5 %}
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							{% else %}
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
							{% endif %}
						</div>
					</div>
					<hr>
					<div class="row">
						{% if product.stock == 0 %}
						<div class="col-6">
							<a class ="btn disabled btn-plants" href="{% url 'cart:add_cart' product.slug %}">Add to Cart</a>
							<a href="{% url 'wishlist:add_to_wishlist' product.slug %}"><i class="far fa-heart"></i></a>
						</div>
						<div class="col-6">
							<p class="stock-notif"><b><i class="far fa-times-circle stock-icon-bad"></i> Out of Stock</b></p>
						</div>
						{% else %}
						<div class="col-6">
							<a class ="btn btn-plants" href="{% url 'cart:add_cart' product.slug %}">Add to Cart</a>
							{% if user.is_authenticated %}
								{% if in_wishlist %}
									<a href="{% url 'wishlist:add_to_wishlist' product.slug %}"><i class="fas fa-heart"></i></a>
								{% else %}
									<a href="{% url 'wishlist:add_to_wishlist' product.slug %}"><i class="far fa-heart"></i></a>
								{% endif %}
							{% endif %}
						</div>
						<div class="col-6">
							<p class="stock-notif"><b><i class="far fa-check-circle stock-icon-good"></i> In Stock</b></p>
						</div>
						{% endif %}
					</div>
					<div>
						<div class="row mt-5">
							<div class="col">
								<h5><b>Product Description</b></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-10">
								<p>{{product.description}}</p>
							</div>
							<div class="col-2">
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row mt-5">
						<h4><b>Reviews&nbsp;</b></h4>
						<a href="{% url 'reviews:add_review' product.slug %}"><button type="button" class="btn btn-outline-plants">Leave Review</button></a>
					</div>
					<div class="row">
						<div class="col-8">
							{% if reviews %}
							{% for review in reviews %}
								<div class="col border my-2">
									<div class="row">
										<div class="col-6">
											<div class="row ml-2 mt-3 mb-2">
												<h3>{{review.username}}</h3>
												<div class="ml-4">
													{% if review.rating == 1 %}
														<i class="fas fa-star"></i>
														<i class="far fa-star"></i>
														<i class="far fa-star"></i>
														<i class="far fa-star"></i>
														<i class="far fa-star"></i>
													{% elif review.rating == 2 %}
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="far fa-star"></i>
														<i class="far fa-star"></i>
														<i class="far fa-star"></i>
													{% elif review.rating == 3 %}
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="far fa-star"></i>
														<i class="far fa-star"></i>
													{% elif review.rating == 4 %}
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="far fa-star"></i>
													{% elif review.rating == 5 %}
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
													{% endif %}
												</div>
											</div>
											<div class="row ml-2">
												<h4>{{review.title}}</h4>
											</div>
											<div class="row ml-2">
												<p>{{review.content}}</p>
											</div>
											<div class="row ml-2">
												{{review.pub_date}}
											</div>
											{% if review.purchased == True %}
											<div class="row ml-2">
												<p id="purchase-verifier">Verified Purchase</p>
											</div>
											{% endif %}
											{% if user.username == review.username %}
											<div class="row ml-2">
												<div>
													<a href="{% url 'reviews:edit_review' product.slug review.id %}">Edit</a>
												</div>
												<div>
													&nbsp;&nbsp;<a class="text-danger" href="{% url 'reviews:delete_review' product.slug review.id %}">Delete</a>
												</div>
											</div>
											{% elif user.is_authenticated or user.is_staff %}
												<div class="row ml-2">
													<a class="text-danger" href="{% url 'reviews:delete_review' product.slug review.id %}">Delete</a>
												</div>
											{% endif %}
										</div>
										<div class="col-6">
											{% if review.image_thumbnail %}
												<img class="review-image" src="{{review.image_thumbnail.url}}" alt="{{review.title}}">
											{% else %}
												<p>Image unavailable</p>
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
							{% else %}
							<p>No reviews have been posted for this product <a href="{% url 'reviews:add_review' product.slug %}"><button type="button" class="btn btn-outline-plants">Leave Review</button></a></p>
							{% endif %}
						</div>
						<div class="col-4">

						</div>
					</div>
				</div>
			</div>
	</div>
{% endblock %}
